<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kir4agi.caradvisorapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".view.EditView"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".view.CarDataActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.CarsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.CollectionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.ModelsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.BrandsActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>